*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    width: 100vw;
}
li,
ul {
    list-style: none;
    cursor: pointer;
}
header{
    display: flex;
    flex-direction: center;
    height: 100px;
    background-color: #000;
    color: white;
}
.header{
    display: flex;
    max-width: 1140px;
    width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;

}
.menu{
    flex:1;
    display: flex;
    justify-content: flex-end;
}
.menu_opener{
    display: none;
}
.logoimg{
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 45px;
}
input,
textarea{
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background-color: transparent;
    resize: none;
    display: inline-block;
    border: none;
    color: #aaa;
    outline: 0;
}
nav ul,
nav li{
    list-style: none;
}
.menu ul{
    display: flex;
    align-items: center;

}
.menu li a{
    align-items: center;
    display: flex;
    font-weight: 600;
    padding: 10px;
    height: 100px;
}
.menu a:hover,
.menu a.active{
    border-bottom: 5px  solid #b28756 ;
    border-top: 5px  solid black ;
    color: gray;
}
.menu a {
    color: white;
    text-decoration: none;
    display: block;
}
.banner{
    height: calc(100vh - 100px);
    background-image: url(..//Media/foto2.jpg);
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
}
.banner .sliders{
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    transition: all ease 0.3s ;
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
}
.slidearea{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
.banner h1 span{
    color: #b28756;
}
.banner h1 {
    margin: 30px;

}
.banner .slidearea a{
    text-transform:uppercase ;
    display: flex;
    justify-content: center;
    background-color: #b28756;
    margin-top: 30px;
    color: white;
    align-content: center;
    padding:15px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
}
.banner .sliders_point{
    width: 15px;
    height: 15px;
    border: 3px solid #b28756;
    border-radius: 45px;
    margin: 10px;
    cursor: pointer;
}
.banner .sliders_point:hover{
    background-color: #b28756
}
.sliders_point.active{
    background-color: #b28756;
}
.banner .sliders_pointers{
    height: 20px;
    width: 100vw;
    margin-top: -50px;
    justify-content: center;
    display: flex;
    position: absolute;
    align-items: center;
}
.default{
    background-color: black;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section_title,
.default .section_desc{
    text-transform: uppercase;
}
.default .section_title{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.default .section_desc{
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 20px;
}
.default .section_body{
    margin: auto;
    max-width: 1140px;
    padding: 20px;
    
}
.default.light {
    background-color: #f7f7f7;
}
.default.dark .section_title,
.default.dark .section_body{
    color: white;
}
.default.light .section_title,
.default.light .section_body{
    color: black;
}

.default.dark{
    background-color: #000;
}
a {
    text-decoration: none;
}

.home_button{
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #b28756;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 10;
    transform: translateY(100);
    transition: all ease 0.3s;
}
.home_button img{
    width: 80%;
}

.show_btn{
    opacity: 1;
    transform: translate(0);
}
















/*
CSS DE ÁREAS ESPECÍFICAS
*/


section .about_us{
    display: flex;
    margin-bottom: 20px;
}
section .about_us_left{
    flex: 1;
    color: #000;
}

section .about_us_right{
    width: 350px;
    text-align: center;

}
.about_us_right img{
    display: flex;
    max-width: 330px;
    margin-right: 40px;
    box-shadow: 0 5px 10px #333;
}
.buttom{
    text-transform:uppercase ;
    display: flex;
    justify-content: center;
    background-color: #b28756;
    margin-top: 30px;
    color: white;
    align-content: center;
    padding:15px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    width: fit-content;
}

section p.about_us_left{
    font-size: 14px;
    line-height: 25px
}
.dark .section_services{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #333;
    margin-bottom: 20px;
}
.dark .section_services:first-child{
    border-left: 1px solid #333;
}

.dark .section_body{
    display: flex;
}

.dark .section_services h4{
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.dark .section_services p{
    flex:1;
    display: flex;
    align-items: end;
    margin-top: 10px;
    font-size: 13px;
    color: #999
}
.dark .section_services img{
    width: 60px;
    height: 60px;
}
.section_projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_projects_options{
    text-transform: uppercase;
    display: flex;
    background-color: #eee;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #ccc;
}

.section_projects_options ul,
.section_projects_options li{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.section_projects_options li{
    font-size: 13px;
    padding: 0 10px;
    border-left: 1px solid #ccc;
}

.section_projects_options li:last-child{
    border-right: none;
    padding-left: 20px;
}
.section_projects_options li:first-child{
    border-left: none;
    padding-right: 20px;
}
.section_projects_options a{
    padding: 10px 0;
    text-decoration: none;
    color: #555;

}
.section_projects_options li:hover,
.section_projects_options li.active{
    text-decoration: none;
    border-bottom: 5px  solid #b28756 ;
    pointer-events: auto;
}
.section_projects_photos{
    display: flex;
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.section_projects_photo{
    width: 280px;
}

.section_projects_photoarea{
    background-color: #333;
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section_projects_photoarea img{
    width: inherit;
    height: inherit;
}
.section_projects_photoinfo {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
}
.section_projects_photoinfo h5{
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.section_projects_photoarea:hover .section_projects_photoinfo{
    display: flex;
    flex-direction: column;
    color: white;
}

.dark.back{
    background-image: url(../Media/foto2.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden ;
    padding: 0;
}
.section_team_area{
    background-color: rgba(0,0,0,0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}
.section_team{
    max-width: 880px;
    margin: auto;
}

.section_team .sliders{
    height: 100%;
}

.section_team .slide{
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: white;
    margin-right:20px
}
.section_team .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 30px;
}
.section_team_avatar{
    width: 150px;
    height: auto;

}
.section_team_name{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    margin-top: 30px;

}
.section_team_role{
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}
.section_team_social{
    display: flex;
    margin-top:20px
}
.section_team_social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 13px;
    margin-right: 10px;
}
.section_team_social a:hover{
    background-color: #b28756;
}
.section_team_area .sliders_point{
    width: 15px;
    height: 15px;
    border: 3px solid #b28756;
    border-radius: 45px;
    margin: 10px;
    cursor: pointer;
}
.section_team_area .sliders_point:hover{
    background-color: #b28756
}
.section_team_area .sliders_point.active{
    background-color: #b28756;
}
.section_team_area .sliders_pointers{
    height: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.section_team .slidearea{
    display: flex;
    width: inherit;
    height: inherit;
    flex-direction: column;
    color: black;
}
.section_clients .section_body{
    padding: 0  ;
}
.section_clients .section_clients_area{
    max-width: inherit;
}
.section_clients .section_clients_area .sliders{
    width: 1000vw;
    height: 100%;
}
.section_clients .section_clients_area .slide{
    max-width: 1140px;
    height: 100%;
    min-height: 300px;
    overflow: hidden;
}
.section_clients .section_clients_area .slidearea{
    width: inherit;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 30px;
}
.section_clients .section_clients_avatar{
    width: 130px;
    height: auto;

}
.section_clients .section_clients_name{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    margin-top: 30px;

}
.section_clients .section_clients_role{
    font-size: 14px;
    color: black;
    margin-top: 5px;
}
.section_clients .section_clients_area {
    font-size: 10px;
}
.section_clients .section_clients_area .quote{
    margin-top: 30px;
}
.section_clients .section_clients_area p{
    margin-top: 10px;
    font-size: 13px;
    color: #555;
    text-align: center;
    line-height: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

.section_clients .section_clients_area .sliders_pointers{
    height: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.section_clients .sliders_point{
    width: 15px;
    height: 15px;
    border: 3px solid #b28756;
    border-radius: 45px;
    margin: 10px;
    cursor: pointer;
}
.section_clients .sliders_point:hover{
    background-color: #b28756
}
.section_clients .sliders_point.active{
    background-color: #b28756;
}
.section_clients .sliders_pointers{
    height: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.section_clients .co-workers{
    max-width: 100vw;
    background-color: white;
    padding-bottom: 50px;
    padding-top: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.section_clients .co-workers_image{
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section_clients .co-workers_colab{
    flex: 1;
}
.section_price_area{
    border-bottom: 1px solid #ddd;
}

.section_prices{
    display: flex;
    flex-wrap: wrap;
    max-width: inherit;
    margin-bottom: 20px;
}
.section_price{
    width: 280px;
    margin-right: 20px;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
}
.section_price_title{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #000;

}
.section_price_value{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    color: #000;
}
.section_price_period{
    text-transform: uppercase;
    color: #999;
}
.section_price_text{
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
}
.section_prices .black{
    padding: 5px;
    font-weight: 600;
    padding: 15px 30px 15px 30px;
    font-size: 13px;
    border-radius: 20px;
    background-color: #000;
    color: white;
    
}
.section_prices .black:hover,
.section_prices .active .black:hover{
    background-color: #b28756;
}
.black a{
    color: white;
    outline: 0;
    text-decoration: none;
}
.default.light.top-bottom{
    padding-top: 0;
    padding-bottom: 0;
}
.default.light.white{
    background-color: white;
}
.section_clients_area{
    display: flex;
    justify-content: center;
}
.premium{
    display: flex;
}
.section_premium_area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section_premium{
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.premium_book{
    width: 400px;
    height: auto;
}
.book_image{
    width: 300px;
}
.premium_features{
    flex:1;
}
.feature_1{
    display: flex;
}
.feature_2{
    display: flex;
    margin-top: 20px;
}
.feature_3{
    display: flex;
    margin-top: 20px;
}
.check{
    width: 100%;
    height: auto;
}
.features{
    flex: 1;
    margin-left: 20px;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}
.features p{
    font-size: 13px;
    color: #aaa;
    font-weight: normal;
    text-transform: none;
    margin: 10px 0;
}
.section_premium_area .sliders_pointers{
    display: flex;
    justify-content: center;
}
.section_premium_area .sliders_point{
    width: 15px;
    height: 15px;
    border: 3px solid #b28756;
    border-radius: 45px;
    margin: 10px;
    cursor: pointer;
}
.section_premium_area .sliders_point:hover{
    background-color: #b28756
}
.section_premium_area .sliders_point.active{
    background-color: #b28756;
}
.dark .section_facts{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.dark .section_facts h1{
    font-size: 40px;
    color: #b28756;

}
.dark .section_facts .text_bar{
    width: 20px;
    height: 3px;
    background-color: #777;
}
.dark .section_facts h4{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 18px;
}

.dark .section_facts p{
    flex:1;
    display: flex;
    align-items: end;
    margin-top: 10px;
    font-size: 13px;
    color: #999
}
.default.dark.facts{
    padding-bottom: 0px;
}
.tell_aboutus{
    height: auto;
    padding: 15px 0;
    background-color: white;
    font-weight: 800;

}
.tell_aboutus .social_media{
    max-width: 1140px;
    width: 100vw;
    margin: auto
}
.tell_aboutus .followus{
    display: flex;
    margin: auto;

}
.tell_aboutus .share{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #aaa;
    width: 200px;
} 
.tell_aboutus .share img {
    margin-right: 5px;
    width: auto;
}
.tell_aboutus .foto_area{
    display: flex;
    align-items: center;
    font-size: 10px;
    color: #aaa;
    flex:1
}
.tell_aboutus .twitter{
    margin-right: 5px;
    border-radius: 45px;
    background-color: #34c5f1;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tell_aboutus .linkedin{
    margin-right: 5px;
    border-radius: 45px;
    background-color: #137cb3;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tell_aboutus .facebook{
    margin-right: 5px;
    border-radius: 45px;
    background-color: #336296;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tell_aboutus .googleplus{
    margin-right: 5px;
    border-radius: 45px;
    background-color: #e84337;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tell_aboutus .pinterest{
    margin-right: 5px;
    border-radius: 45px;
    background-color: #b71c27;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_us{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-weight: 600;
    text-transform: uppercase;
    color: #aaa;
}
.contact_us .name_email{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
.contact_us .name{
    width: auto;
    margin-right: 20px;
    flex:1;
    padding: 10px 0;
    border-bottom:2px solid #aaa;
}
.contact_us .email{
    width: auto;
    flex:1;
    padding: 10px 0;
    border-bottom:2px solid #aaa;
}
.contact_us .subject{
    width: inherit;
    width: 100%;
    padding: 10px 0;
    border-bottom:2px solid #aaa;
}
.contact_us .message{
    width: 100%;
    height: 200px;
    padding: 10px 0;
    border-bottom:2px solid #aaa;
    margin-bottom: 30px;
}
.contact_us a{
    display: flex;
    justify-content: center;
}
.section_map{
    background-image: url(../Media/mapa.jpg);
    background-size: cover;
    background-position: center;
    margin: auto;
    font-size: 13px;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100vw;
    color: #999;
}
.section_map_area{
    max-width: 1140px;
    margin: auto;
    height: auto;
    padding: 20px;
}
.section_map_info{
    max-width: 570px;
    width: 50vw;
    height: auto;
    background-color: white;
    padding: 30px 20px;
}
.section_map_content{
    display: flex;
    align-items:center;
    padding: 5px 0 5px 10px;
    margin-bottom: 10px;

}
.map_image{
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999;
    height: 30px;
    border-radius: 45px;
    margin-right: 20px;
}
.text_map{
    flex: 1;
}
.footer{
    background-color: black;
    height: auto;
}
.container{
    max-width: 1140px;
    display: flex;
    height: auto;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer_media{
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;
    
}
.footer_desc{
    flex: 1;
    color: #999;
}
.footer_mail{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #555;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.footer_follow{
    width: auto;
    align-self: start;
    display: flex;
    flex:1
}
.footer_images{
    margin-right: 10px;
    display: flex;
    background-color: #777;
    border-radius: 45px;
    text-decoration: none;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.footer_images:hover,
.footer_images.active{
    background-color: #b28756;
}
.footer_copyright{
    height: auto;
    width: auto
}
.footer_copyright span{
    color: #b28756;
    font-weight: 600;
}
.footer_mail input,
.footer_mail .placeholder{
    background-color: transparent;
    color: #999;
    font-weight: 800;
    padding : 20px 50px 20px 50px;
    border-bottom: 3px solid #777;
}
.footer_mail .buttom{
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
@media (min-width:450px) and (max-width:800px){
    .header{
        padding: 0 30px;
    }
    .logo{
        margin-left: 30px;
    }
    .menu_opener{
        display: block;
        width: 45px;
        margin-right: 30px;
    }
    nav{
        display: none;
        position: absolute;
        z-index:99;
        background-color: rgba(0,0,0,0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top:100px;
        right: 0;
    }
    .menu ul{
        flex-direction: column;
        align-items: start;
    }
    .menu li a{
        font-weight: bold;
        height: 40px;
        font-size: 17px;
        margin-left: 30px;
        border: 0;
    }
    .menu a.active,
    .menu a:hover {
        border: 0;
        color: #b28756;
    }
    .banner .sliders_pointers{
        margin-top: -30px;
    }
    .about_us{
        flex-direction: column;
        align-items: center;
    }
    .about_us_left{
        display: flex;
        flex-direction: column;
        margin: 0 20px 20px 20px;
        align-items: center;
    }
    .about_us .buttom{
        margin: auto;
        margin: 30px 0;
    }
    .about_us_right{
        width: auto;
    }
    .tell_aboutus{
        padding: 15px 15px;
    }
    .services{
        flex-wrap: wrap;
    }
    .dark .section_services:first-child{
        border: 0;
    }
    .dark .section_services{
        min-width: 45vw;
        border: 0;
    }
    .section_team{
        max-width: 580px;
        overflow: hidden;
    }
    .default.light .section_clients{
        margin: 0 30px;
    }
    .section_clients .section_clients_area .slide{
        width: auto;
    }
    .section_clients .co-workers {
    display: flex;
    flex-direction: column;
    }
    .section_clients .co-workers_image{
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }
    .section_price{
        flex: none;
    }
    .section_prices{
        justify-content: center;
    }
    .facts .section_body{
        flex-wrap: wrap;
        overflow: hidden;
    }
    .dark .section_facts{
        min-width: 45vw;
        border: 0;
    }   
    .section_map_area{
        height: auto;
    }
    .section_map{
        padding: 0 30px;
    }
    .section_map_info{
        width: auto;
        max-width: none;
    }
    .section_map_info_content{
        margin-bottom: 20px;
    }
    .section_map_info_content:last-child{
        margin-bottom: 20px;
    }
}

@media (max-width:450px){
    .logo{
        margin-left: 30px;
    }
    .menu_opener{
        display: block;
        width: 45px;
        margin-right: 30px;
    }
    nav{
        display: none;
        position: absolute;
        z-index:99;
        background-color: rgba(0,0,0,0.9);
        width: 80vw;
        height: calc(100vh - 100px);
        top:100px;
        right: 0;
    }
    .menu ul{
        flex-direction: column;
        align-items: start;
    }
    .menu li a{
        font-weight: bold;
        height: 40px;
        font-size: 20px;
        margin-left: 30px;
        border: 0;
    }
    .menu a.active,
    .menu a:hover {
        border: 0;
        color: #b28756;
    }
    .banner h1{
        font-size: 30px;
    }
    .banner h2{
        font-size: 17px;
    }
    .about_us{
        flex-direction: column;
        align-items: center;
    }
    .about_us_left{
        display: flex;
        flex-direction: column;
        margin: 0 20px 20px 20px;
        align-items: center;
    }
    .tell_aboutus{
        padding: 15px 15px;
    }
    .about_us .buttom{
        margin: auto;
        margin: 30px 0;
    }
    .about_us_right{
        width: auto;
        margin: 0 30px;
    }
    .about_us_right img{
        width: 80vw;
        margin: auto;
    }
    .services{
        flex-wrap: wrap;
    }
    .dark .section_services:first-child{
        border: 0;
    }
    .dark .section_services{
        min-width: 45vw;
        border: 0;
    }
    .section_team{
        max-width: 300px;
        overflow: hidden;
    }
    .default.light .section_clients{
        margin: 0 30px;
    }
    .section_clients .section_clients_area .slide{
        width: auto;
    }
    .default.light .section_clients{
        margin: 0px;
    }
    .co-workers{
        display: flex;
        flex-direction: column;
    }
    .section_clients .co-workers_image{
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }
    .section_price{
        flex: none;
    }
    .section_prices{
        justify-content: center;
    }
    .section_premium{
        flex-direction: column;
        margin: 0 30px;
        display: flex;
        align-items: center;
    }
    .section_premium_area .section_body,
    .section_premium_area .section_sliders,
    .section_premium_area .section_slide,
    .section_premium_area .section_premium{
        width: 100vw;
    }
    .premium{
        display: flex;
    }
    .premium_book{
        max-width: 200px;
        margin-bottom: 30px;
    }
    .book_image{
        max-width: 200px;
    }
    .book_image img{
        max-width: 200px;
    }
    .facts .section_body{
        flex-wrap: wrap;
    }
    .section_body.mobile {
        padding: 0px;
    }
    .dark .section_facts{
        min-width: 100vw;
        border: 0;
    }
    .tell_aboutus .social_media{
        display: flex;
    }
    .tell_aboutus .followus{
        display: block;
    }   
    .tell_aboutus .foto_area{
        padding: 10px 0;
        display: inline-block;
        margin: auto;
    }
    .section_map_area{
        height: auto;
    }
    .tell_aboutus .social_media{
        width: auto;
    }
    .twitter,
    .linkedin,
    .facebook,
    .googleplus,
    .pinterest{
        margin-bottom: 10px;
    }
    .foto_text{
        padding-left: 5px;
    }
    .followers{
        display: flex;
        justify-content: center;
    }
    .section_map{
        padding: 0;
    }
    .section_map_info{
        width: auto;
        font-size: 11px;
        max-width: none;
    }
    .section_map_content{
        display: inline-flex;
    }
    .section_map_info_content{
        margin-bottom: 20px;
    }
    .section_map_info_content:last-child{
        margin-bottom: 20px;
    }
    .section_map_area{
        padding: 0;
        padding-bottom: 250px;
    }
    .container{
        flex-direction: column-reverse;
        padding: 10px 20px;
        justify-content: center;
    }
    .footer_media{
        align-items: center;
    }
    .footer_media,
    .footer_desc,
    .footer_mail{
        padding-bottom: 10px;
    }
    .footer_desc{
        font-size: 11px;
    }
    .home_button{
        width: 30px;
        height: 30px;
    }
}